.contenedorDescripcion{
    .texto{
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 2.5rem;
        text-align: center;
    }
    .contenedorDescri{
        background-color: rgba(193, 237, 240, 0.397);;
        width: 80%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        font-size: 1.5rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
        
    }
    
}